body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
    background: #F8FAFD;
}
*{
    font-family: Verdana;
    user-select: none;
    transition: 0.5s;
}
#container{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
}
#left-side h2{
    font-size: 15px;
    color: #ddd;
}
.title{
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 8%;
    font-weight: normal;
}
.inner-items{
    background: rgba(255,255,255,0.1);
    overflow: hidden;
}
.sub-item img, .sub-item-main img{
    width: 25px;
    height: 25px;
    margin-left: 5%;
    margin-right: 5%;
}
.sub-item img{
    margin-left: 10%;
}
.sub-item, .sub-item-main{
    height: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    position: relative;
}
.clickable{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.item{
    position: relative;
    width: 100%;
    height: auto;
    font-size: 15px;
    display: block;
}
#left-side{
    width: 20%;
    height: 100%;
    background: #273AB5;
    display: block;
    color: white;
    overflow-y: auto;
    overflow-x: auto;
}
#right-side #top #account-info a{
    margin-right: 3%;
    width: auto;
}

#right-side #top #account-info img{
    height: 60%;
    width: auto;
    margin-right: 5%;
}
#right-side #top #account-info{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}
#right-side #top{
    width: 100%;
    height: 9%;
    display: flex;
    background: white;
    box-shadow: rgba(0,0,0,0.05) 0px 0px 10px 5px;
}
#right-side #bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-view{
    width:300px;
    position: relative;
    display: inline-block;
    height: 170px;
    margin-top: 1.5%;
    margin-left: 1.2%;
    background: rgba(0,0,0,0.03);
    border: 1px solid #aaa;
    box-shadow: rgba(0,0,0,0.02) 0px 0px 20px 5px;
}
.card-view img{
    height: 60%;
    margin-left: 3%;
}
.card-view h2{
    margin: 0;
    font-size: 17px;
}
.card-view p{
    margin: 0;
    margin-left: 10%;
}
.card-view .inner #dv1 #right{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-view .inner #dv2 button{
    width: 90%;
    height: 30px;
    margin-top: 5px;
}
.card-view .inner #dv2{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-view .inner #dv1{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
.card-view .inner{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
}
.wrap-contents{
    display: block;
    white-space: normal;
    width: 95%;
    overflow-y: auto;
    margin: 0 auto;
    margin-bottom: 2.5%;
    flex: 1;
}
#loader{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #F4F5F6;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loader img{
    width: 60%;
    height: auto;
}
#right-side #bottom h2{
    margin: 2.5%;
}
#dashboard, #add-client,#list-of-clients,
#add-receipt,#list-of-receipts, #add-allowance, #list-of-allowances, #decharge,#ajouter-utilisateur,#list-utilisateur,#parametres,#support{
    display: none;
    color: #444;
    width: 95%;
    margin: 0;
    height: 90%;
    flex-direction: column;
    border: 1px solid #ccc;
    background: white;
}
#right-side{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#logo-div{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}
#logo-div h2{
    font-size: 17px;    
    font-weight: normal;
    color: white;
    margin: 0;
    margin-left: 10px;
}
#logo-div img{
    height:40%;
    width: auto;
    margin-left: 5%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: dodgerblue;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}


@media (max-width:700px){
    #right-side{
        display: none;
    }
    #left-side{
        flex: 1;
    }
}